body {
    font-family: "Nunito Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.menu-title {
    white-space: nowrap;
    word-break: break-all;
    max-width: 150px;
}